
.thumbnail-img {
  width: 100%;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
  display: block;
}

.video-author {
  display: inline-block;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 5px;
}

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 0;
}

.channel-profile {
  vertical-align: top;
  margin-top: 15px;
  margin-right: 5px;
  margin-right: 5px;
}

.profile-picture {
  width: 100%;
  border-radius: 25px;
}

.video-info {
  display: inline-block;
}

.video-details {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 16px;
  row-gap: 40px;
}
/* Media Query */
/* @media (max-width:750px) 
{
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:1000px)
{
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}*/

.thumbnail {
  position: relative;
  z-index: 0;
}

.video-time {
  font-family: Roboto,Arial;
  background-color: black;
  color: white;
  width: fit-content;
  padding: 3px;
  position: absolute;
  right: 10px;
  bottom: 15px;
}