.header {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(232, 230, 230);
  z-index: 3;
}

.left-section {
  display: flex;
}

.ham {
  width: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5px;
}

.youtube-logo {
  width: 100px;
  padding-left: 10px;
  margin-right: 10px;
}

.middle-section {
  flex: 1;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.Search-bar {
  flex: 1;
  padding-left: 10px;
  height: 36px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(189, 187, 187);
  border-radius: 3px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width: 0;
}
.Search-bar::placeholder {
  font-family: Roboto,Arial;
  vertical-align: center;
  font-size: 16px;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.search-button {
  height: 40px;
  width: 60px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(189, 187, 187);
  margin-left: -1px;
  margin-right: 8px;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-button .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -25px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.7s;
}

.search-button:hover .tooltip {
  opacity: 1;
  pointer-events: none;
}


.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(240, 240, 240);
  position: relative;
}

.voice-search-button .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -25px;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.7s;
}

.voice-search-button:hover .tooltip {
  opacity: 1;
  pointer-events: none;
}

.voice-icon {
  height: 24px;
  margin-top: 4px;
  
}

.right-section {

  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-left: 10px;
}

.upload-button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
}

.upload-icon-img {
  height: 24px;
  margin-top: 4px;
}

.apps-button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
}
.youtube-apps-img {
  height: 24px;
  margin-top: 4px;
}

.notification-button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
  position: relative;  
}

.notification-icon-img {
  height: 24px;
  margin-top: 4px;
}

.notifications {
  font-family: Roboto,Arial;
  font-size: 12px;
  background-color: red;
  color: white;
  width: fit-content;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  border-radius: 60%;
  position: absolute;
  right: 1px;
  top: 5px;
}

.profile-img {
  height: 55%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(199, 198, 198);
  border-radius: 20px;
  margin-right: 20px;
}
